* {
    margin: 0;
    padding: 0;
}




body {
    background-color: #F6FFF8;
}

#heading {
    background-color: #118AB2;
    height: 5rem;
    font-size: 2.5rem;
    text-align: center;
    line-height: 5rem;
    font-family: "Lilita One", sans-serif;
}

.choices {
    /* border: 2px solid black; */
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;

}

.choice {
    /* border: 2px solid black; */
    height: 200px;
    width: 200px;
    /* margin: 2rem; */
    /* gap: 2rem; */
    display: flex;
    border-radius: 50%;

}

#rock img {
    height: 180px;
    width: 180px;
}


.choice:hover {
    /* background-color: #118AB2; */
    cursor: pointer;
    /* box-shadow:  0px 0px 10px cyan; */
}

#rock:hover {
    cursor: pointer;
    /* border: 2px solid blue; */
    opacity: 0.7;
}

#paper:hover {
    cursor: pointer;
    /* box-shadow: 0px 0px 15px #04d9ff; */
    /* background-color: #04d9ff; */
    opacity: 0.7;
}

#scissor:hover {
    cursor: pointer;
    /* box-shadow: 0px 0px 15px #ffff00; */
    /* background-color: #ffff00; */
    opacity: 0.7;
}

.choice img {
    height: 190px;
    width: 190px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    border-radius: 50%;
}

.scores {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 4rem;
    margin-top: 4rem;
}

.you {
    font-size: 2rem;
    font-family: "Poetsen One", sans-serif;
}

#user-score {
    font-size: 4rem;
}

#comp-score {
    font-size: 4rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

#msg {
    display: inline;
    background-color: darkslategray;
    color: beige;
    font-size: 2rem;
    border-radius: 10px;
    height: 4rem;
    /* width: 15rem; */
    line-height: 4rem;
    text-align: center;
    font-family: "Platypi", serif;
}